<div class="footer mt-4 card-footer">
  <div class="row">
    <div class="col-12 col-sm-6 text-center mt-3">
      <div class="row">
        <ul class="rounded mx-auto d-block col-6">
          <li>
            <a routerLink="AboutUs" routerLinkActive="active">About Us</a>
          </li>
          <li>
            <a routerLink="Performances" routerLinkActive="active">Performances</a>
          </li>
          <li>
            <a routerLink="BuyTickets" routerLinkActive="active">Buy Tickets</a>
          </li>
        </ul>
        <ul class="rounded mx-auto d-block col-6">
          <li>
            <a routerLink="FindUs" routerLinkActive="active">Find Us</a>
          </li>
          <li>
            <a routerLink="Gallery" routerLinkActive="active">Gallery</a>
          </li>
          <li>
            <a routerLink="ContactUs" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 text-center mt-3">
      <ul class="row p-0 mx-2 mt-3 justify-content-around" id="socialBox">
        <li class="mr-2 my-3">
          <a class="facebook btn" title="Like us on Facebook" href="https://www.facebook.fr/wildcircusfr" role="button">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="mx-2 my-3">
          <a class="twitter btn" title="Follow us on Twitter" href="http://www.twitter.fr/wildcircusfr" role="button">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="mx-2 my-3">
          <a class="instagram btn" title="See us on Instagram" href="https://www.instagram.com/?hl=fr" role="button">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="mx-2 my-3">
          <a class="youtube btn" title="See us on Youtube" href="http://www.youtube.com/user/wildcircusfr"
            role="button">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        <li class="mx-2 my-3">
          <a class="pinterest btn" title="See us on Pinterest" href="https://www.pinterest.fr/" role="button">
            <i class="fab fa-pinterest-p"></i>
          </a>
        </li>
        <li class="mx-2 my-3">
          <a class="snapchat btn" title="See us on Snapchat" href="https://www.snapchat.com/l/fr-fr/" role="button">
            <i class="fab fa-snapchat-ghost"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="row mt-3 mx-auto text-center justify-content-center align-items-center">
      <p>@ 2019 by Xgt from
        <a href="https://wildcodeschool.fr/laloupe/">
          <span class="titleSchool">WildCodeSchool</span>
        </a>
      </p>
      <img src="../../assets/logo_wcs.png" alt="logoWCS" class="rounded mx-2 d-block">
    </div>
  </div>
</div>