<nav class="navbar navbar-expand-sm navbar-light custom-toggler">
  <button class="navbar-toggler borderBurgerMenu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0 row align-items-center justify-content-center">
      <li class="nav-item m-1">
        <button class="text-dark postMessage" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="AboutUs" routerLinkActive="active">About Us</button>
      </li>
      <li class="nav-item m-1">
        <button class="text-dark postMessage" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="Performances" routerLinkActive="active">Performances</button>
      </li>
      <li class="nav-item m-1">
        <button class="text-dark postMessage" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="BuyTickets" routerLinkActive="active">Buy Tickets</button>
      </li>
      <li class="nav-item m-1">
        <button class="text-dark postMessage" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="FindUs" routerLinkActive="active">Find Us</button>
      </li>
      <li class="nav-item m-1">
        <button class="text-dark postMessage" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="Gallery" routerLinkActive="active">Gallery</button>
      </li>
      <li class="nav-item m-1">
        <button class="text-dark postMessage" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="ContactUs" routerLinkActive="active">Contact Us</button>
      </li>
    </ul>
  </div>
</nav>
