<app-section-title [sectionTitle]="title"></app-section-title>
<section class="container">
    <p class="about">Our story started in 1980, <span class="about">Edgard Wild</span> was a little 10 year-old boy
        who liked to entertain his friends in the classroom and to do unbelievable tricks.
    </p>
    <p class="about">He discovered the
        wonderfull universe of the <span class="about">circus</span> when he was 15 years old, during a juggling's
        show, with his parents. Since this day, he used all his energy to make true <span class="about">his
            dream</span>, to perform with the most popular acrobats, surrounded by animals more impressive each than
        the others.
    </p>
    <p class="about">
        So was born the <span class="about">« Wild Circus »</span>. Today, <span class="about"> The "Wild Circus"</span>
        performs all around the world, in France, the country where his maker was born, in all
        the Europe, in the United-states of America, in Asia and in many other countries.
    </p>
    <p class="about">
        <span class="about">The "Wild Circus"</span> offers shows which marvels childrens and adults, of every ages.
        You will discover unbelievable juggling's shows, acrobats, dressage of wild animals, dances of horses,
        clowns and an unique show made by the bigger human cannonball, the marvellous Ludwig Bullet.
    </p>
    <p class="about">
        Come and see us to discover <span class="about">our universe</span> made to entertain you and your family
        into a dream of lights, wild animals and laughs.
    </p>
    <p class="about">
        See you soon in one of our stopover <span class="about">to live the magic</span> of one of our shows.
    </p>
</section>